<div class="container-index">
  <h1><u>{{title}}'s movies</u></h1>
  <p>"Find all the information about ghibli movies, give your opinion</p>
  <p>and see what other users have to say about them."</p>
<br>
  {{!-- <ul>
    <li><input id="autoComplete" class="mr-sm-2" type="search" placeholder="Search" aria-label="Search"></li>
  </ul>  --}}
      <a class="btn btn-dark" href='/stores'>Find stores near to you</a>
      <a class="btn btn-dark" href='/login'>Log in</a>
</div>