<div class="container">
    <h1>Stores:</h1>
    <div class="row">
        <div class="col"></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <figure id='map'></figure>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <figure id='near-stores'></figure>
        </div>
    </div>


    <script src="/javascripts/stores-map-config.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkLUfGKA0xaOhsz1bMdcheje5t-59yRAY&libraries=places&callback=initMap"></script>

</div>