<div class="container">
    <div class="row">
        <div class="col mb-3">
            <h1>Stores near you:</h1>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-12 col-md-4 search-results">
        </div>
        <div class="col-12 col-md-8">
            <figure id='map'>
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </figure>
        </div>
    </div>


    <script src="/javascripts/stores-map-config.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&libraries=places&callback=initMap"></script>

</div>