@import "loader-style.scss";

body {    
background-image: url(../images/totorowebpage4.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}

h1,
h2,
h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 50px;
}

// ul li .autoComplete{
//   list-style: none;
// }

#movies-search-results {
  background-color: white;
  border-radius: 0.35rem;
}

#map {
  height: 400px;
  background-color: gray;
}

.store-img {
  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
}

.search-results {
  height: 400px;
  overflow-y: scroll;
  a {
    text-decoration: none;
    color: black;
  }
}
.error-message {
  background-color: rgb(255, 149, 149);
  position: fixed;
  bottom: 10px;
  left: 30%;
  width: 40%;
  padding: 5px 0;
  font-size: 0.9em;
  text-align: center;
  transform: translateY(calc(100% + 20px));
  animation: showMessage 2s forwards;
}

@keyframes showMessage {
  0% {
    transform: translateY(calc(100% + 20px));
  }

  10% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(calc(100% + 20px));
  }
}


.container-index{

  
}



// .logo {
//   overflow: hidden;
//  // background-color: white;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   height: 100px;
// }

.ghibli-logo {
  justify-content: flex-end;
  width: 150px; 
  display:flex;
  margin-top:20px;
  margin-left: 20px;
}



// .button{
//    border: 5px solid #2081c3;
//     border-radius: 15px;
//     box-shadow: 5px 5px 8px #999;
//     text-decoration: none;
//     padding: 15px;
//     display: block;
//     text-align: center;
//     width: 35%;
//     margin-bottom: 25px;
//     margin-top: 25px;
//     background-color: #2081c3;
//     color:white;

// }






.container-profiledesign{
background-image: url(../images/totorowebpage4.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}

.avatar-profile {
  font-size: 1.5em;
  padding: 60px;
  //margin-bottom: 40px;
  background-color: rgb(219, 209, 195);
  // box-shadow: 5px 5px 8px #999;
  // border-radius: 20px;
  text-align: center;
  margin-left: 50px;
}

.avatar-design {
  background-color: white;
  border-radius: 100px;
  border: 2px solid rgba(63, 50, 5, 0.787);
  padding: 10px;
  margin: 15px;
}

.movies-avatar {
  text-align: center;
  background-color: rgb(219, 209, 195);
  border-radius: 20px;
  box-shadow: 5px 5px 8px #999;
  float: right;
  padding: 10px;
  img {
    width: 100%;
  }
}
