@import "loader-style.scss";
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");

body {
  background-image: url(../images/webpage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Averia Serif Libre", cursive;
}

h1,
h2,
h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 50px;
}

.navbar-brand img {
  width: 140px;
  display: flex;
  margin-left: 20px;
}

// .collapse-navbar-collaps ul li a{
//   color:black;
// }

// .nav-link{
//   color: black;
// }

#movies-search-results {
  background-color: white;
  border-radius: 0.35rem;
}

#map {
  height: 400px;
  background-color: gray;
}

.store-img {
  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
}

.search-results {
  height: 400px;
  overflow-y: scroll;
  a {
    text-decoration: none;
    color: black;
  }
}
.error-message {
  background-color: rgb(255, 149, 149);
  position: fixed;
  bottom: 10px;
  left: 30%;
  width: 40%;
  padding: 5px 0;
  font-size: 0.9em;
  text-align: center;
  transform: translateY(calc(100% + 20px));
  animation: showMessage 2s forwards;
}

@keyframes showMessage {
  0% {
    transform: translateY(calc(100% + 20px));
  }

  10% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(calc(100% + 20px));
  }
}

////////////////////////////////////////////// INDEX DESIGN
.container-index {
  margin: 100px;
  text-align: justify;
  padding: 140px;
  color:whitesmoke;
//     a {
//     background-image: url(/images/dustbunny.png);
// background-repeat:no-repeat;
// height:100px;
// width:100px;
// background-position:center;
//   }
  
}

// .btn-index{
// background-image: url(/public/images/dustbunny.png);
// background-repeat:no-repeat;
// height:100px;
// width:100px;
// background-position:center;
// }

////////////////////////////////////////////// PROFILE DESIGN

.avatar-profile {
  font-size: 1.5em;
  align-items: center;
  padding: 40px;
  // background-color: #d6bdbb;
  text-align: center;
  margin-left: 50px;
}

.avatar-design {
  background-color: white;
  border-radius: 100px;
  border: 2px solid rgb(140, 212, 212);
  max-width: 100%;
  height: auto;
}

.movies-avatar {
  text-align: center;
  // background-color: #d6bdbb;
  float: right;
  padding: 10px;
  img {
    width: 100%;
  }
}

.comment {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 5px;
}



////////////////////////////////////////////// MOVIES DESIGN

.glide__slide{
  list-style: none;
}

.gallery-grid figure {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.gallery-grid img {
  height: 200px;
  object-fit: cover;
}

.gallery-grid figcaption {
  margin-top: 10px;
  text-align: center;
}

.movies-carousel img{
  height: 250px;
  object-fit: cover;
}