@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");
.lds-ring {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px; }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent; }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s; }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s; }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  background-image: url(../images/webpage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Averia Serif Libre", cursive; }

h1,
h2,
h3 {
  font-weight: 200; }

a {
  text-decoration: none; }
  a p {
    color: black; }

.navbar {
  margin-bottom: 50px;
  height: 100px; }

.navbar-brand img {
  width: 140px;
  display: flex;
  margin-left: 20px; }

#movies-search-results {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.35rem; }
  #movies-search-results li {
    background-color: transparent; }
    #movies-search-results li a {
      text-decoration: none;
      color: #ff9595; }

#map {
  height: 400px;
  background-color: gray; }

.store-img img {
  width: 100%;
  height: 100px;
  object-fit: cover; }

.search-results {
  height: 400px;
  overflow-y: scroll; }
  .search-results a {
    text-decoration: none;
    color: black; }

.error-message {
  background-color: #ff9595;
  position: fixed;
  bottom: 10px;
  left: 30%;
  width: 40%;
  padding: 5px 0;
  font-size: 0.9em;
  text-align: center;
  transform: translateY(calc(100% + 20px));
  animation: showMessage 2s forwards; }

@keyframes showMessage {
  0% {
    transform: translateY(calc(100% + 20px)); }
  10% {
    transform: translateY(0px); }
  90% {
    transform: translateY(0px); }
  100% {
    transform: translateY(calc(100% + 20px)); } }

.container-index {
  margin: 100px;
  text-align: justify;
  padding: 140px;
  color: whitesmoke; }

.avatar-profile {
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%; }

.profile-card {
  background-color: rgba(245, 242, 242, 0.6);
  padding: 20px;
  border-radius: 8px; }
  .profile-card.profile-height {
    height: 560px; }
  .profile-card .card-title {
    height: 100px; }

.avatar-design {
  background-color: white;
  border-radius: 20px;
  border: 2px solid #8cd4d4;
  max-width: 100%;
  height: auto; }

.movies-avatar {
  text-align: center;
  float: right;
  padding: 10px; }
  .movies-avatar img {
    width: 100%; }

.comment {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 5px; }

.glide__slide {
  list-style: none; }

.glide figure {
  width: 80%;
  display: block;
  margin: 0 auto; }

.glide img {
  height: 200px;
  object-fit: cover; }

.glide figcaption {
  margin-top: 10px; }

.movies {
  margin-left: 100px; }

.glide__arrow {
  background-color: #8cd4d4;
  top: 40px; }

/*# sourceMappingURL=style.css.map */