<div class="container container-index">
    <h1>{{title}}'s movies</h1>
    <p>"Find all the information about ghibli movies, give your opinion</p>
    <p>and see what other users have to say about them."</p>
    <br>

    <a class="btn btn-light text-light bg-transparent" href='/stores'>Find stores near to you</a>
    <a class="btn btn-light text-light bg-transparent" id="btn-index" href='/login'>Log in</a>

    <div>
        <img src="/images/totoro.png" alt="" width="400" height="400">
    </div>
</div>